.hero {
    position: relative;
    height: 220px;
    padding: 1px;
    margin-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
    background-image: url("../images/ck-header.png");
    background-size: cover;
}
