<!DOCTYPE html>
<html>
<head>
    <title>Cluster King</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/ds_circle.png">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="hero"></div>

<div class="row">
    <div class="col-xs-4">

    {% block content %}
    {% endblock %}

    <div id="algo_block" style="display:none; padding-top: 20px">
        <h3>Choose an algorithm</h3>
        <select id="algo" name="algo">
         <option value="kmeans">k-Means</option>
         <option value="gauss">Gaussian Mixture</option>
         <option value="dbscan">DBSCAN</option>
        </select>
    <div style="padding-top: 10px">
        <button type="button" class="btn btn-danger" id="cluster-submit">Cluster it</button>
    </div>
    </div>

    </div>

    <div class="col-xs-4">
        <div id="plot"></div>
    </div>
</div>

</body>
<script src="../static/js/constants.js"></script>
<script src="../static/js/plot_functions.js"></script>
<script src="../static/js/script.js"></script>
</html>
