<!DOCTYPE html>
<html style="height: 100%">
<head>
    <title>Cluster King</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/ds_circle.png">
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body style="height: 100%">

<div class="herofull">
    <div class="container">
        <h1 class="herotext">Cluster King</h1>


        <div style="text-align: center; font-size: 15px;">
        <button id="myButton" class="btn btn-danger" style="font-size: 20px">Let's cluster some data</button>
        </div>


        <script type="text/javascript">
            document.getElementById("myButton").onclick = function () {
                location.href = "/blobs";
            };
        </script>

    </div>
</div>

<div class="footer">
    <a href="/about" style="color: white; -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;">About</a>
</div>
</body>
</html>
